.blackboard {
  background: rgb(12, 35, 64);
  padding: 3rem 1rem;
  border-radius: 16px;
  max-width: 900px;
  margin: 2rem auto;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.6);
}


.single-notice {
  text-align: center;
  color: #fff;
}

.single-notice img {
  max-width: 90%;
  max-height: 400px;
  border-radius: 10px;
  border: 4px solid #c7a14a;
  background: #fff;
}

.notice-content h3 {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.notice-content span {
  opacity: 0.8;
  font-size: 0.9rem;
}

/* Pagination */


.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.pagination button {
  background: #fff;
  color: rgb(12, 35, 64);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.pagination button:hover {
  background: #c3c2c2;
}

.pagination button.active {
  background: #c7a14a;
  color: #000;
}

.pagination .arrow {
  font-size: 18px;
  padding: 8px 14px;
  background: #fff;
}

.pagination .arrow:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.dots {
  color: #fff;
  padding: 8px 6px;
  font-weight: bold;
}
