/* ================= GLOBAL ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main layout container */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(1rem, 4vw, 3rem);
  padding-right: clamp(1rem, 4vw, 3rem);
}


/* Large tablets */
@media (max-width: 992px) {
  .container {
    padding-inline: 2.5rem;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .container {
    padding-inline: 2rem;
  }
}

/* Phones */
@media (max-width: 576px) {
  .container {
    padding-inline: 1rem;
  }
}
body {
  outline: 5px solid red;
}

.container {
  outline: 3px solid blue;
}

section {
  outline: 2px dashed green;
}
html, body {
  overflow-x: hidden;
}
