/* ================= NAVBAR ================= */
.navbar-custom {
  background-color: #fff;
  padding: 0.5rem 0; /* vertical only */
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

/* Brand logo + text */
.navbar-custom .brand {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.navbar-custom .brand-logo {
  width: 32px;
  height: 32px;
  object-fit: contain;
  transform: rotate(5deg);
  border-radius: 9px;
  background-color: rgb(12, 35, 64);
  padding: 6px;
}

.navbar-custom .brand-text {
  display: flex;
  flex-direction: column;
}

.navbar-custom .brand-mindmine {
  font-size: 0.9rem;
  font-weight: 700;
  color: oklch(0.21 0.034 264.665);
}

.navbar-custom .brand-academy {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(163, 21, 58);
}

.navbar-custom .navbar-nav {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.navbar-custom .nav-link {
  color: oklch(37.3% 0.034 259.733);
  font-weight: 400;
  font-size: 0.85rem;
  position: relative;
  transition: color 0.3s;
}

.navbar-custom .nav-link:hover {
  color: rgb(163, 21, 58);
}

.navbar-custom .apply-btn {
  padding: 0.4rem 1.5rem;
  background: linear-gradient(90deg, rgb(163, 21, 58), #330014);
  color: #fff !important;
  border-radius: 4rem;
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  transition: all 0.4s ease;
}

.navbar-custom .apply-btn:hover {
  opacity: 0.85;
}

.navbar-custom .nav-link.active-link:not(.apply-btn) {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  font-weight: 600;
  color: rgb(163, 21, 58);
}

@media (max-width: 992px) {
  .navbar-custom .navbar-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar-custom .brand {
    margin-bottom: 0.5rem;
  }
}
