.main-menu-page {
  background: #f7f8fc;
}


.secondary-btn {
  background: #0a1f38;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
}

.outline-btn {
  background: white;
  color: rgb(163, 21, 58);
  border: 1.5px solid rgb(163, 21, 58);
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

/* EXAMS */

/* CTA */
.menu-cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 8%;
  background: linear-gradient(135deg, #1e2a4a, #0a1f38);
  color: white;
  align-items: center;
}

.menu-cta img {
  width: 100%;
  border-radius: 16px;
}
